@model Cars.Models.Car
@{
    ViewData["Title"] = $"Registering a car";
}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">
        <a asp-controller="Cars" asp-action="Index">Cars</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        Register
    </li>
  </ol>
</nav>

<div class="text-center">
    <h1 class="display-4 mb-5">Registering a car</h1>
</div>

<form asp-controller="Cars" method="POST" asp-action='@(Model.Id == new Guid() ? "Save" : "Update")'>
    <div class="row">
        <input asp-for="Id" type="hidden" value="@Model.Id" />

        <div class="form-group col-md-4">
            <label asp-for="Manufacturer">Manufacturer</label>
            <input asp-for="Manufacturer" class="form-control" value="@Model.Manufacturer" />
        </div>

        <div class="form-group col-md-4">
            <label asp-for="Model">Model</label>
            <input asp-for="Model" class="form-control" value="@Model.Model" />
        </div>

        <div class="form-group col-md-4">
            <label asp-for="AssemblyDate">Assembly Date</label>
            <input asp-for="AssemblyDate" asp-format="{0:yyyy-MM-dd}" type="date" class="form-control" />
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Register</button>
</form>
